<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Charts</title>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='dist/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='dist/css/sb-admin-2.css') }}" rel="stylesheet">

</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div>
    <div id="wrapper" >

        <!-- Sidebar -->
        
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar " >

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">蔬菜漲跌列表 <sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <span>首頁</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Utilities</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item active">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
                    <!-- Content Row -->
                    <div class="row" >
                              <!-- Grid column -->
      <div class="col-md-7 text-md-left ml-3 mt-3">
  
        <!-- Excerpt -->
        <span style="color:black">
          <h2  class="pb-5 pt-5 pl-5"><i class="fas fa-table"aria-hidden="true"></i> 蔬菜價格波動詳表</h2>
        </span>


      </div>
      </div>
      <!-- Grid column -->
      <div class="row">
                        <div class="col-xl-12 col-lg-7">

                            <!-- Area Chart -->
                            <div class="card shadow mb-3">
                                <div class="card-body">
                                    <div class = "container">                 
                                            <ul class="nav nav-tabs mr-4 ml-4 text float-right" id="myTab" role="tablist">
                                                <li class="nav-item">
                                                  <a class="nav-link show active" data-toggle="tab" href="#all" aria-selected="false" >All</a>
                                                </li>
                                                <li class="nav-item">
                                                  <a class="nav-link" data-toggle="tab" href="#gain" aria-selected="false" >漲價</a>
                                                </li>
                                                <li class="nav-item">
                                                  <a class="nav-link" data-toggle="tab" href="#lose" aria-selected="false" >跌價</a>
                                                </li>
                                              </ul>
                                        <div class="tab-content">    
                                        <div id = 'all' class="tab-pane fade show active  container-fluid" role="tabpanel" >  
                                        <table class = "table table-bordered table-striped" >
                                           <thead>
                                              <tr>
                                              <th>蔬菜</th>
                                              <th>本週均價</th>
                                              <th>漲跌幅度</th>
                                              <th>更多資訊</th>
                                              </tr>
                                           </thead>
                                           <tbody >
                                            {%for veg in general_list%}
                                              <tr>
                                                 <td>{{veg[0]}}</td>
                                                 <td>{{veg[1]}}</td>
                                                 <td><i class="fas fa-clone left"></i> <a href="/graphics/{{veg[0]}}">詳情<a></td>
                                              </tr>
                                            {% endfor %}
                                           </tbody>
                                            <tbody >
                                             {%for veg in gain_list%}
                                               <tr>
                                                  <td>{{veg[0]}}</td>
                                                  <td>{{veg[1]}}</td>
                                                  <td><i class="fas fa-clone left"></i> <a href="/graphics/{{veg[0]}}">詳情<a></td>
                                               </tr>
                                             {% endfor %}
                                            </tbody>
                                        </table>
                                        </div>
                                     <div id = 'gain' class="tab-pane fade container-fluid" role="tabpanel" >
                                        <table class = "table table-bordered table-striped" >
                                           <thead>
                                              <tr>
                                              <th>蔬菜</th>
                                              <th>漲跌幅度</th>
                                              <th>更多資訊</th>
                                              </tr>
                                           </thead>
                                           <tbody >
                                            {%for veg in gain_list%}
                                              <tr >
                                                 <td>{{veg[0]}}</td>
                                                 <td>{{veg[1]}}</td>
                                                 <td><i class="fas fa-clone left"></i> <a href="/graphics/{{veg[0]}}">詳情<a></td>
                                              </tr>
                                            {% endfor %}
                                           </tbody>
                                        </table>
                    
                                     </div>
                                     <div id = 'lose' class="tab-pane fade container-fluid" role="tabpanel">
                                        <table class = "table table-bordered table-striped" >
                                           <thead>
                                              <tr>
                                              <th>蔬菜</th>
                                              <th>漲跌幅度</th>
                                              <th>更多資訊</th>
                                              </tr>
                                           </thead>
                                           <tbody >
                                            {%for veg in loser_list%}
                                              <tr>
                                                 <td>{{veg[0]}}</td>
                                                 <td>{{veg[1]}}</td>
                                                 <td><i class="fas fa-clone left"></i> <a href="/graphics/{{veg[0]}}">詳情<a></td>
                                              </tr>
                                            {% endfor %}
                                           </tbody>
                                        </table>
                                        </div>
                                     </div>
                                    </div>
                                    </div>
                                </div>
                                     <script>
                                        function myFunction() {
                                          // Declare variables 
                                          var input, filter, table, tr, td, i, txtValue;
                                          input = document.getElementById("myInput");
                                          filter = input.value.toUpperCase();
                                          table = document.getElementById("myTable");
                                          tr = table.getElementsByTagName("tr");
                                        
                                          // Loop through all table rows, and hide those who don't match the search query
                                          for (i = 0; i < tr.length; i++) {
                                            td = tr[i].getElementsByTagName("td")[0];
                                            if (td) {
                                              txtValue = td.textContent || td.innerText;
                                              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                                tr[i].style.display = "";
                                              } else {
                                                tr[i].style.display = "none";
                                              }
                                            } 
                                          }
                                        }
                                        </script>
                                </div>



                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
        </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Creators &copy; MiniFeng, Yi-Chen Shih | Update at {{update_day}}</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>

    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='dist/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='dist/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='dist/js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='dist/vendor/chart.js/Chart.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='dist/js/demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/demo/chart-pie-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/demo/chart-bar-demo.js') }}"></script>

</body>

</html>